header {

    display: flex;
    justify-content: center;
    border-bottom: 5px dashed black;

    ul {
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }

    .nav-item {
        a:hover {
            background-color: red;
            transition: 1.5s;
        }
    }

    .text_super {
        position: absolute;
        z-index: 1;

        h1 {
            font-family: "courgette";
            color: white;

            .color_red {
                color: red;
                font-size: 110%;
            }
        }

        // .bouton_header{
        //     display: flex;
        //     justify-content: space-evenly;
        //     align-items: center;
        //     .bouton_1, .bouton_2{
        //         border-radius: 50%;
        //         padding: 2%;
        //         width: 30%;
        //         border: none;
        //     }& .bouton_1:hover,.bouton_2:hover{
        //         background-color: red;
        //     }
        // }
        #bouton{
            margin: 2% 2%;
            padding-top: 5%;
            a{ text-decoration: none;
                color: white;
                text-transform: uppercase;
                font-family: menu;
                background-color: green;
                border-radius: 50px;
                margin: 1%;
                padding: 10px;
                &:hover{
                    background-color: red;
                }


                &:nth-child(1){
                    background-color: whitesmoke;
                    color: black;
                    padding: 10px;
                    &:hover{
                        background-color: red;
                    }
                }


            }
        }



    }

    .carousel-inner {
        img {
            filter: brightness(30%);
        }
    }

    .carousel-indicators {
        button {
            height: 100px;
            width: 100px;
        }
    }


}

// carousel
#carouselExampleCaptions {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

// responsive


// tablette
@media screen and ( min-width : 620px ) and (max-width : 1024px) {
   .navbar{
    //    display: none;
            display: flex;
            flex-direction: column;
            .logo_fourchette{
               
              margin-left: 40% !important;
              padding-top: 2%;
              padding-bottom: 2%;
            }
   }
}
// tel
@media screen and ( max-width : 620px ) {
   .navbar{
       display: none;
   }
   #bouton{
      
       font-size: 10px;
   }
}