header{
     
    display: flex;
    justify-content: center;
    border-bottom: 5px dashed black;
   
    ul{
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }
    .nav-item{
        a:hover{
            background-color: red;
        }
    }

    .text_super{
        position:absolute;
        z-index: 1;
        h1{
            font-family: "courgette";
            color: white;
            .color_red{
                color: red;
                font-size: 110%;
            }
        }
        .bouton_header{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            .bouton_1, .bouton_2{
                border-radius: 50%;
                padding: 2%;
                width: 30%;
                border: none;
            }& .bouton_1:hover,.bouton_2:hover{
                background-color: red;
            }
        }
      
    }
    .carousel-inner{
        img{
            filter: brightness(30%);
        }
    }
    
    .carousel-indicators{
        button{
            height: 100px;
            width: 100px;
        }
    }

    
}
// carousel
#carouselExampleCaptions{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}