.contact{
    background-image: url(../../../public/img/book_table_bg.jpg);
    padding: 60px;
    border-radius:10px;
    margin-top: 40px;
    color: white;
    .numero{
        padding: 10px;
        font-size: 20px;
    }
    .input_radius{
        border-radius: 10px;
    }
}