.contact {
    // background-image: url(../../../public/img/book_table_bg.jpg);
    background-image: url(../img/book_table_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px;
    border-radius: 10px;
    margin-top: 40px;
    color: white;

    .numero {
        padding: 10px;
        padding-bottom: 20px;
        font-size: 20px;
    }

    .input_radius {
        border-radius: 15px;
        border: none;

    }

    input,
    select {
        padding: 10px 10px;
        margin-bottom: 4px;
        font-weight: bold;

        &:focus {
            outline: none;
        }
    }

    .btn {
        &:hover {
            background-color: #ff9562 !important;
            color: #46ffa3 !important;
            font-weight: bold !important;
            transition: 3s;
        }
    }
}


#bouton_know {
    margin-left: 45%;
    border: none;
    border-radius: 35px;
    padding: 10px;
    margin-top: 20px;
    background-color: $rouge;
    color: $blanc;

    &:hover {
        background-color: blanchedalmond;
        color: black;
        font-weight: bold;
        transition: 2s;
    }
}

.our_blog_bas {
    // padding-top: 50px;
    // padding-bottom: 50px;
    padding: 50px 5%;

    .card {
        position: relative;

        img {
            border-radius: 15px;
            border: 5px solid gray;

        }

        .text_over {
            // background-color: rgb(243, 43, 136);
            background-color: $rouge;
            color: white;
            border-radius: 10px;
            padding: 5px;
            padding-bottom: 3px;
            font-size: 20px;
            width: 90%;
            margin-left: 6%;
            transform: translateY(-40px);

            span {
                font-size: 25px;
                font-weight: bold;
            }

            P {
                font-size: 20px;
            }
        }
    }
}


// TEL
@media screen and (max-width:620px) {
    .contact {
        
        input,
        select {
            font-size: smaller;
        }
    }

    #bouton_know {
        margin-left: 35%;
    }

    .our_blog_bas {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;

        img {
            width: 100%;
        }

    }

    .small_respo {

        text-align: center;
    }
}

// TABLETTE
@media screen and (min-width : 620px) and (max-width : 1024px) {
    #bouton_know {
        margin-left: 42%;
    }

    .demi {
        width: 50%;
    }
}