.carte_menu{
    padding-top: 20px;
    padding-bottom: 20px;
}.c1{
    position: relative;
    border: 1px solid black;
    .margin_GD{
        margin-left: 20%;
        margin-right: 20%;
    }
    
    .ht_dr{
        position: absolute;
        right: 0;
    }
}
.bordure{
    
    .liste{
        list-style-type: none;
        border-bottom: 2px solid grey;
        border-right:  5px solid black;
        &:hover{
            border-right: 5px solid red;
        }
        
    }
    a{
        text-decoration: none;
        color: black;
        // i{
        //     &:hover{
        //         background-color: red;
        //     }
        // }
    }
}
h2{
    font-family: "courgette";
}
.color_red{
    color: red;
}
.workImg{
    img{
        height: 100px;
        width: 100px;
        margin-right: 10px;
        margin-bottom: 8px;
    }
}
.font_text{
    h4{
        font-size: 15px;
        font-weight: bold;
    }p{
        font-size: 11px;
    }
}
.prix{
    background-color: grey;
    color: red;
    padding: 2px 7px;
}
.bordure_burger{
    border-bottom: dotted 1px grey;
    padding: 5px;
    margin: 0 10px;
}

// responsive

@media screen and ( max-width : 620px ){
    .carte_menu{
        
     
        
      .bordure_burger{
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          align-items: center;
      }
    }
}