.contact {
    background-image: url(../../../public/img/book_table_bg.jpg);
    padding: 60px;
    border-radius: 10px;
    margin-top: 40px;
    color: white;

    .numero {
        padding: 10px;
        font-size: 20px;
    }

    .input_radius {
        border-radius: 10px;
    }
}

// BLOG
.our_blog {
    h2 {
        font-size: 20px;

        span {
            font-size: 35px;
        }
    }

    .arrange_card {
        display: flex;
        // flex-direction: column;
        align-items: center;
        width: auto;
        padding: 0;

    }

    .card,
    .card2 {
        height: 350px;

        div {
            position: relative;
            height: 75%;
            width: 100%;

            .img {
                width: 100% !important;
                height: 90%;
                position: absolute;
                top: 0;
                border: blue 4px solid;
                border-radius: 10px;
            }

            p {
                position: absolute;
                bottom: 0;
                background-color: red;
                border-radius: 10px;
                color: white;
                padding: 10px;
                width: 90% !important;
                height: 25%;
                font-size: small !important;
                margin: 0;

                span {
                    font-size: smaller;
                    width: 90%;
                }
            }
        }

        p {
            text-align: left;
            width: 90%;
            font-weight: bold;
        }

        span {
            font-size: smaller;
            width: 90%;
        }
    }

    #bouton_know {
        border: none;
        border-radius: 35px;
        padding: 10px;
        background-color: red;
        color: white;

        &:hover {
            background-color: blanchedalmond;
            color: black;
        }
    }
}